<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Vue demo</title>
	</head>
	<body>
		<!-- 显示视图 -->
		<div id="app">
			<button v-for="(item,index) in butlist" :key="index" @click="change(index,item)">{{item}}</button>
			<div v-for="(item,index) in showlist" :key="index" v-if="index==changeid">{{item}}</div>
		</div>

		<script src="js/vue/vue.js"></script>

		<script>
			//data
			var data = {
				msg: "hello world",
				changeid:-1,
				butlist:['111','222','333'],
				showlist:['111','222','333']
			};

			//vue实例
			var app = new Vue({
				el: "#app",
				data: data,
				methods:{
					change(index,item){
						this.changeid = index
						//console.log(this.changeid)
					}
				}
			});
		</script>
	</body>
</html>
