<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Vue demo</title>
	</head>
	<body>
		<!-- 显示视图 -->
		<div id="app">
			<div>姓:<input type="text" v-model="lastName" /></div>
			<div>名:<input type="text" v-model="firstName" /></div>

			<div>名字: {{ lastName + " " + firstName }}</div>
		</div>

		<script src="js/vue/vue.js"></script>

		<script>
			//data
			var data = {
				msg: "hello world",
				lastName: "",
				firstName: ""
			};

			//vue实例
			var app = new Vue({
				el: "#app",
				data: data
			});
		</script>
	</body>
</html>
